<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Menu</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="home">Home</a>
      <a class="nav-item nav-link" routerLink="tab">Tabuada</a>
      <a class="nav-item nav-link" routerLink="timer">Timer</a>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <p class="lead">
    Click nos links do Menu para ser direcionado a página desejada
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <br />
</div>
